//Imports
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap'); //400
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap'); //700



//Color Variables

//Primary
$brightOrange: hsl(31, 77%, 52%);
$darkCyan: hsl(184, 100%, 22%);
$veryDarkCyan: hsl(179, 100%, 13%);
//Neutral
$transparentWhite: hsla(0, 0%, 100%, 0.75);  //paragraphs
$veryLightGray: hsl(0, 0%, 95%);  //background, headings, buttons


body {
    background-color: $veryLightGray;
}

//Container Styles
.row {
    width: 60vw;
    height: 70vh;
    margin: 18vh 15vw 10vh 19vw;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.textPadding {
    padding: 3vh 4vw 0px 2vw;
    line-height: 3vh;
}

//End Container Styles

// Columns Style
.first {
    background-color: $brightOrange;
    width:20vw;
    height: 100vh;
    img {
        padding: 5vh 0 0 2vw;
    }
    h1 {
        font-family: 'Big Shoulders Display', cursive;
        color: $veryLightGray;
        font-size: 4vh;
        letter-spacing: 1px;
    }
    p {
        font-size: 19px;
        font-family: 'Lexend Deca', sans-serif;
        color: $transparentWhite;
    }
}


.second {
    background-color: $darkCyan;
    width:20vw;
    height: 100vh;
    img {
        padding: 5vh 0 0 2vw;
    }
    h1 {
        font-family: 'Big Shoulders Display', cursive;
        color: $veryLightGray;
        font-size: 4vh;
        letter-spacing: 1px;
    }
    p {
        font-size: 19px;
        font-family: 'Lexend Deca', sans-serif;
        color: $transparentWhite;
    }
}


.third {
    background-color: $veryDarkCyan;
    width:20vw;
    height: 100vh;
    img {
        padding: 5vh 0 0 2vw;
    }
    h1 {
        font-family: 'Big Shoulders Display', cursive;
        color: $veryLightGray;
        font-size: 4vh;
        letter-spacing: 1px;
    }
    p {
        font-size: 19px;
        font-family: 'Lexend Deca', sans-serif;
        color: $transparentWhite;
    }
}
//End Column Style

// Button Styles

.buttonWrapper {
    padding: 17vh 0 0 2vw;
}

.firstButton {
    width: 10vw;
    height: 6vh;
    border-radius: 30px;
    border-style: none;
    color: $brightOrange;
    font-size: 1.6vh;
    font-family: 'Lexend Deca', sans-serif;
    
}

.secondButton {
    width: 10vw;
    height: 6vh;
    border-radius: 30px;
    border-style: none;
    color: $darkCyan;
    font-size: 1.6vh;
    font-family: 'Lexend Deca', sans-serif;
}

.thirdButton {
    width: 10vw;
    height: 6vh;
    border-radius: 30px;
    border-style: none;
    color: $veryDarkCyan;
    font-size: 1.6vh;
    font-family: 'Lexend Deca', sans-serif;
}
// Button Styles End

//Media Screens

//600px and down
@media only screen and (max-width: 600px) {  
    .row {
        width: auto;
        height: auto;
        margin: auto;
        flex-direction: column;
    }
    .first {
        width: auto;
        height: 63vh;
        img {
            padding: 4vh 0 0 7vw;
        }
        h1 {
            font-size: 6vh;
        }
        p {
            line-height: 4vh;
        }
    }

    .second {
        width: auto;
        height: 63vh;
        img {
            padding: 4vh 0 0 7vw;
        }
        h1 {
            font-size: 6vh;
        }
        p {
            line-height: 4vh;
        }

    }

    .third {
        width: auto;
        height: 63vh;
        img {
            padding: 4vh 0 0 7vw;
        }
        h1 {
            font-size: 6vh;
        }
        p {
            line-height: 4vh;
        }
    }

    .textPadding {
        padding: 3vh 7vw 0px 8vw;
    }

    .buttonWrapper {
        padding: 4vh 0 0 7vw;
    }

    .firstButton {
        width: 50vw;
    }

    .secondButton {
        width: 50vw;
    }

    .thirdButton {
        width: 50vw;
    }
   }
   // End 600px and under devices

   // Tablet Fix 800px
   @media only screen and (max-width: 1300px) {  
       .row {
        height: none;
        margin: 12vh 0vw 12vh 0vw;
        border-radius: 10px;
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: auto;
       }
       .first {
           width: 100vw;
       }

       .second {
        width: 100vw;
       }

       .third {
        width: 100vw;
       }

       .textPadding {
           padding: 3vh 3vw 0px 2vw;
       }

       .firstButton {
           width: 25vw;
       }

       .secondButton {
        width: 25vw;
       }

       .thirdButton {
        width: 25vw;
       }
 
 }