@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
body {
  background-color: #f2f2f2;
}

.row {
  width: 60vw;
  height: 70vh;
  margin: 18vh 15vw 10vh 19vw;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.textPadding {
  padding: 3vh 4vw 0px 2vw;
  line-height: 3vh;
}

.first {
  background-color: #e38826;
  width: 20vw;
  height: 100vh;
}

.first img {
  padding: 5vh 0 0 2vw;
}

.first h1 {
  font-family: 'Big Shoulders Display', cursive;
  color: #f2f2f2;
  font-size: 4vh;
  letter-spacing: 1px;
}

.first p {
  font-size: 19px;
  font-family: 'Lexend Deca', sans-serif;
  color: rgba(255, 255, 255, 0.75);
}

.second {
  background-color: #006970;
  width: 20vw;
  height: 100vh;
}

.second img {
  padding: 5vh 0 0 2vw;
}

.second h1 {
  font-family: 'Big Shoulders Display', cursive;
  color: #f2f2f2;
  font-size: 4vh;
  letter-spacing: 1px;
}

.second p {
  font-size: 19px;
  font-family: 'Lexend Deca', sans-serif;
  color: rgba(255, 255, 255, 0.75);
}

.third {
  background-color: #004241;
  width: 20vw;
  height: 100vh;
}

.third img {
  padding: 5vh 0 0 2vw;
}

.third h1 {
  font-family: 'Big Shoulders Display', cursive;
  color: #f2f2f2;
  font-size: 4vh;
  letter-spacing: 1px;
}

.third p {
  font-size: 19px;
  font-family: 'Lexend Deca', sans-serif;
  color: rgba(255, 255, 255, 0.75);
}

.buttonWrapper {
  padding: 17vh 0 0 2vw;
}

.firstButton {
  width: 10vw;
  height: 6vh;
  border-radius: 30px;
  border-style: none;
  color: #e38826;
  font-size: 1.6vh;
  font-family: 'Lexend Deca', sans-serif;
}

.secondButton {
  width: 10vw;
  height: 6vh;
  border-radius: 30px;
  border-style: none;
  color: #006970;
  font-size: 1.6vh;
  font-family: 'Lexend Deca', sans-serif;
}

.thirdButton {
  width: 10vw;
  height: 6vh;
  border-radius: 30px;
  border-style: none;
  color: #004241;
  font-size: 1.6vh;
  font-family: 'Lexend Deca', sans-serif;
}

@media only screen and (max-width: 600px) {
  .row {
    width: auto;
    height: auto;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .first {
    width: auto;
    height: 63vh;
  }
  .first img {
    padding: 4vh 0 0 7vw;
  }
  .first h1 {
    font-size: 6vh;
  }
  .first p {
    line-height: 4vh;
  }
  .second {
    width: auto;
    height: 63vh;
  }
  .second img {
    padding: 4vh 0 0 7vw;
  }
  .second h1 {
    font-size: 6vh;
  }
  .second p {
    line-height: 4vh;
  }
  .third {
    width: auto;
    height: 63vh;
  }
  .third img {
    padding: 4vh 0 0 7vw;
  }
  .third h1 {
    font-size: 6vh;
  }
  .third p {
    line-height: 4vh;
  }
  .textPadding {
    padding: 3vh 7vw 0px 8vw;
  }
  .buttonWrapper {
    padding: 4vh 0 0 7vw;
  }
  .firstButton {
    width: 50vw;
  }
  .secondButton {
    width: 50vw;
  }
  .thirdButton {
    width: 50vw;
  }
}

@media only screen and (max-width: 1300px) {
  .row {
    height: 76vh;
    margin: 12vh 0vw 12vh 0vw;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
  }
  .first {
    width: 100vw;
  }
  .second {
    width: 100vw;
  }
  .third {
    width: 100vw;
  }
  .textPadding {
    padding: 3vh 3vw 0px 2vw;
  }
  .firstButton {
    width: 25vw;
  }
  .secondButton {
    width: 25vw;
  }
  .thirdButton {
    width: 25vw;
  }
}
/*# sourceMappingURL=main.css.map */